:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1.2rem;
}
body {
  margin: 0;
  background-color: rgb(47, 49, 57);
}

.auth-container {
  display: flex;
  max-width: 20rem;
  align-items: center;

}

.base-container {
  display: flex;
  flex-direction: column;
  margin: 10vw auto;
  width: 100%;
  padding-inline: 20vw;
}

.input-container {
  position: relative;
  display: flex;
  align-self: center;
  flex-direction: column;
  margin: 0 auto;
  width: 25rem;
}

.textarea-container {
  /* position: relative; border animation*/
  font-size: 2rem;
  padding-top: 0.35rem;
  padding-left: 0.3rem;
  padding-right: 0.25rem;
  /* border: 2px solid rgba(47, 49, 57, 1); border animation*/
  transition: all 0.5 ease;
  
}

.textarea-container textarea {
  background-color: rgb(255, 255, 255);
  width: 100%;
  /* padding:0.5rem; border animation */
  padding: 0.5rem;
  resize: none;
  overflow: hidden;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  height: auto;
}

.textarea-container .placeholder {
  position: absolute;
  left: 0.5rem;
  top: 1.5rem;
  transform: translateY(-50%);
  border-radius: 0.3rem;
  padding-inline: 0.3rem;
  color: rgb(149, 155, 182);
  background-color: transparent; 
  transition: all 0.5s ease;
  /* background-color 0.3s cubic-bezier(0.12, 0.57, 0.63, 0.21) ; border animation*/
}

/* .textarea-container textarea:valid + .placeholder, */
.textarea-container textarea:focus + .placeholder {
  /* left: 0.6rem;  border animation*/ 
  top: 0rem;
  transform: translateY(-80%);
  font-size: 0.8rem;
  color: burlywood;
  /* background-color: rgb(47, 49, 57);  border animation*/
}

.textarea-container:has(textarea:focus) {
  /* border: 2px solid white;  border animation*/
  border-radius: 0.5rem;
}

.input-buttons {
  align-self: flex-end;
  display: flex;
}

.add-button {
  /* position: absolute; border animation*/
  align-self: center;
  top: 4rem;
  width: 18vw;
  max-width: 10rem;
  height: 100%;
  height: max-content;
  font-size: 2vw;
  padding-block: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.2rem;

  background-color: rgb(47, 49, 57);
  color: burlywood;
  border: 1px solid burlywood;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.add-button:hover {
  color: rgb(47, 49, 57);
  background-color: burlywood;
}

.voice-button,
.image-button {
  background-color: rgb(47, 49, 57);
  color: burlywood;
  cursor: pointer;
  /* border: 1px solid burlywood; */
  border: none;
  padding-inline: 0.5rem;
}

.icon-voice,
.icon-image {
  transform: translateY(10%);
  height:2rem;
  width: 2rem;
}


ul {
  align-self: center;
  width: 80%;
  padding: 0;
  display: flex;
  gap: 1rem;
  text-overflow: unset hidden;
  white-space:unset;
}

.todo-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min-content;
  width: min-content;
  background-color: rgb(28, 29, 34);
  color: burlywood;
  padding: 1rem;
  /* border: 1px solid burlywood; */
  border-radius: 1rem;

  img {
    height: 10rem;
    width: 10rem;

  }
}

.task {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  align-items: center;
  font-size: 0.8rem;
  /* /* text-overflow: ellipsis ellipsis; */
  /* white-space: nowrap; */
}

.button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 2rem;
  margin: 0.7rem 0 0.7rem 0.7rem;
}

.button-container > button {
  display: flex;
  width: 30%;
  /* height: 100%; */
  background-color: rgb(47, 49, 57);
  color: white;
  padding: 0.5rem; 
  border: none;
  cursor: pointer;
}

.icon-edit {
  height: 1.5rem;
  width: 1.5rem;
  transform: translateY(-8%);
}
.icon-trash {
  height: 1.2rem;
  width: 1.2rem;
}
